{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block sidebar %}
{% include "inc/_sidebar.html" %}
{% endblock %}

{% block listOfProduct %}
    <div class="container">
        <div class="row">
            {% for item in results %}
                <div class = "col-lg-4 col-sm-6 mb-2">
                    <div class="card">
                        <div class="card-img-top product-thumb">
                            <a href="{{ item.adress }}"><img src= "{{ item.photo }}" alt="{{ item.name }}">  </a>
                        </div>
                        <div class="card-body product-details">
                            <h4 class="card-title">{{ item.name }}</h4>
                            <p class="card-text">Ингредиенты: {{ item.ingredients }}</p>
                            <h5 class="card-text card-price">Цена: {{ item.currentPrice|floatformat:0 }} руб.</h5>
                        </div>
                        <div class="card-footer text-muted product-bottom">
                            <form action="{% url 'cart_add' item.pk %}" method="post">
                                <div class="d-flex justify-content-between">
                                    <div class="quantity card-text">
                                        <p>{{ cart_product_form }}</p>  <!-- форма для ввода количества товара  -->
                                    </div>
                                    <div class="cart-button">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-primary" value="В корзину">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
