{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block sidebar %}
    {% include "inc/_sidebar.html" %}
{% endblock %}

{% block listOfProduct %}

{% verbatim %}
<div class="container" id="list_apps">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-2" v-for="item in products" :key="item.id">
            <div class="card">
                <div class="card-img-top product-thumb">
                    <a :href="item.adress"><img :src="item.photo" :alt="item.name"> </a>
                </div>
                <div class="card-body product-details">
                    <h4 class="card-title">{{ item.name }}</h4>
                    <p class="card-text">Ингредиенты!!!: {{ item.ingredients }}</p>
                    <h5 class="card-text card-price">Цена: {{ item.currentPrice }} руб.</h5>
                </div>
                <div class="card-footer text-muted product-bottom">

                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}

{% endblock %}
