{% extends 'base.html' %}
 
{% block content %}
<h1>{{title}}</h1>
<br>
<form method="post">
    <div class = "row">
        <div class="col-sm-6">
            {% csrf_token %}

            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                <br>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary btn-lg">Войти</button>
        </div>
    </div>
</form>
 
{% endblock %}